# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compile my simulation
/pedestrian_sim/out.txt
/pedestrian_sim/run
.vscode/
/pedestrian_sim/Crossing
